# Default behaviour
* text=auto

# Shell scripts
*.sh eol=lf

# Git
git text eol=lf

# Bash
aliases eol=lf
bash_profile eol=lf
bashrc eol=lf

# tmux
tmux.conf eol=lf

# vim
vimrc eol=lf

# zsh
zshrc eol=lf
